@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/*** Loader ***/
@keyframes loader {
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
/*** Loader circle rotation ***/
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*** Menu effect fadein ***/
@keyframes menu__fadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/************ MIXINS ************/
/************ COLORS ************/
/************ GENERAL ************/
* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", serif;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

hr {
  border: 2px solid #99E2D0;
  width: 40px;
  margin-top: 5px;
}

/************  Loader ************/
.loader-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 2s 2s ease-out both;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FF79DA;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-bottom: 4px solid #99E2D0;
  border-left: 4px solid transparent;
}

/***************************************/
/***** Hearts *****/
.like__btn {
  height: 21px;
  width: 21px;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.like__icon {
  position: absolute;
  left: 0;
  font-size: 21px;
  transition-duration: 0.25s;
}

.like__icon--nobg {
  background-color: #FFFFFF;
  color: #101010;
}
.like__icon--nobg:hover {
  opacity: 0;
}

.like__icon--bg {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***** Hearts - Menus pages *****/
.menu .like__icon {
  font-size: 24px;
}
.menu .like__icon--nobg {
  background-color: #F6F6F6;
}

/***************************************/
/***** Menu effect fadein *****/
.dishes {
  opacity: 0;
  animation: menu__fadein 0.8s ease-out forwards;
  transition: opacity 0.5s ease-in-out;
}
.dishes:nth-last-of-type(3) {
  animation-delay: 0.3s;
}
.dishes:nth-last-of-type(2) {
  animation-delay: 1s;
}
.dishes:nth-last-of-type(1) {
  animation-delay: 1.7s;
}

/***************************************/
/***** Menu check *****/
.menu__card:hover .check {
  width: 75px;
}

/************ Location ************/
.location {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location .location__input {
  background-color: #EAEAEA;
  color: #353535;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
.location .location__input::-moz-placeholder {
  color: #353535;
}
.location .location__input::placeholder {
  color: #353535;
}

/************ Hero ************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #F6F6F6;
}
.hero__title {
  width: 275px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    width: 100%;
    font-size: 2rem;
  }
}
.hero__subtitle {
  font-size: 18px;
  width: 315px;
  text-align: center;
  font-weight: 300;
  color: #353535;
}
@media (min-width: 768px) {
  .hero__subtitle {
    width: 100%;
  }
}
.hero__button {
  height: 50px;
  background: linear-gradient(180.33deg, #FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  transition-duration: 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hero__button:hover {
  background: linear-gradient(180.33deg, rgb(255, 255, 255) 0%, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/************ Tutorial ************/
.tuto {
  background-color: #FFFFFF;
  padding: 50px 20px;
}
.tuto__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1080px;
  margin: auto;
}
.tuto__container--center {
  align-items: center;
}

.tuto__steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
.tuto__steps--center {
  align-items: center;
}
@media (min-width: 768px) {
  .tuto__steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}
.tuto__steps .step {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  align-items: center;
  gap: 20px;
  position: relative;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-left: 40px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.tuto__steps .step .tuto__icon {
  color: #7E7E7E;
}
.tuto__steps .step .fa-store {
  color: #9356DC;
}
.tuto__steps .tuto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  font-weight: 500;
}
.tuto__steps .tuto__text {
  font-size: 1rem;
  font-weight: normal;
}

/************ Restaurants ************/
.restaurants {
  padding: 50px 20px;
  background-color: #F6F6F6;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1080px;
  margin: auto;
}
.restaurants__container--center {
  align-items: center;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards--center {
  align-items: center;
}
@media (min-width: 768px) {
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards {
    grid-gap: 50px 100px;
  }
}
.restaurants__cards .card {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  position: relative;
  flex-direction: column;
}
.restaurants__cards .label__new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
  top: 15px;
  right: 15px;
  font-size: 14px;
  font-weight: 500;
}

.restaurants__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.restaurants__img--position {
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}

.restaurants__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__description .restaurants__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

/***** MAIN *****/
/***** Hero *****/
.main__img img {
  height: 275px;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .main__img img {
    height: 383px;
  }
}

/***** Menu *****/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 40px 20px;
  position: relative;
  top: -63px;
  margin-bottom: -63px;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.menu .menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  .menu .menu__header {
    max-width: 768px;
    justify-content: center;
    gap: 30px;
  }
}
.menu__title {
  font-family: "Shrikhand", serif;
}
.menu .menu__card {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 15px 0 15px 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  cursor: pointer;
}
.menu .menu__card .check {
  background-color: #99E2D0;
  margin: -1rem 0;
  border-radius: 0 15px 15px 0;
  width: 0;
  transition: width 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.menu .menu__card .check__icon {
  color: #FFFFFF;
}
.menu .menu__card .menu__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__card .menu__description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__card .menu__description--center {
  align-items: center;
}
.menu .menu__card .meal_name {
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__card .meal_subname {
  font-size: 15px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .menu__card .prices {
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;
}

/***** Dishes *****/
.dishes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
@media (min-width: 768px) {
  .dishes {
    max-width: 768px;
    margin: auto;
  }
}

/***** Button *****/
.menu__button {
  height: 50px;
  background: linear-gradient(180.33deg, #FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  transition-duration: 0.25s;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.menu__button:hover {
  background: linear-gradient(180.33deg, rgb(255, 255, 255) 0%, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/************ Header ************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 17px;
  top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************ Footer ************/
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #FFFFFF;
  background-color: #353535;
  padding: 22px 25px;
}
footer--center {
  align-items: center;
}
footer img {
  width: auto;
  height: 20px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 100px;
    padding-bottom: 50px;
    height: 50px;
  }
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}
.footer__links--center {
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
    gap: 50px;
  }
}

.footer__link {
  display: flex;
  gap: 15px;
}
.footer__link i {
  height: 13px;
  width: 12px;
}/*# sourceMappingURL=main.css.map */