/***** Hearts *****/
.like__btn {
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.like__icon {
    position: absolute;
    left: 0;
    font-size: 21px;
    transition-duration: 0.25s;
}

.like__icon--nobg {
    background-color: $second-bg;
    color: #101010;

    &:hover {
        opacity: 0;
    }
}

.like__icon--bg {
    background: -webkit-linear-gradient($second-color, $main-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/***** Hearts menus *****/
.menu {
    .like__icon {
        font-size: 24px;
    }

    .like__icon--nobg {
        background-color: $main-bg;
    }
}

/***** Menu effect fadein *****/
.dishes {
    opacity: 0;
    animation: menu__fadein 0.8s ease-out forwards;
    transition: opacity 0.5s ease-in-out;

    &:nth-last-of-type(3) {
        animation-delay: 0.3s;
    }

    &:nth-last-of-type(2) {
        animation-delay: 1s;
    }

    &:nth-last-of-type(1) {
        animation-delay: 1.7s;
    }
}

