/***** COEURS home *****/
.like__btn {
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: transparent 0px solid;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.like__icon {
    position: absolute;
    left: 0;
    font-size: 21px; /* Taille des icônes */
}

.like__icon--nobg {
    background-color: $second-bg;
    color: #101010;

    &:hover {
        opacity: 0;
        transition: 0.25s;
    }
}

.like__icon--bg {
    background: -webkit-linear-gradient($second-color, $main-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/***** COEURS menus *****/
.menu {
    .like__icon {
        font-size: 24px; /* Taille des icônes */
    }

    .like__icon--nobg {
        background-color: $main-bg;
    }
}
