/***** HEADER *****/
.header__arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 17px;
    top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** MAIN *****/
/***** Hero *****/
.main__img img {
    height: 275px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

/***** Menu *****/
.menu {
    @include flex__column--center;
    gap: 40px;
    background-color: $main-bg;
    border-radius: 50px 50px 0 0;
    padding: 40px 20px;
    position: relative;
    top: -63px;
    margin-bottom: -63px;

    &__title {
        font-family: "Shrikhand", serif;
    }

    & .menu__card {
        @include card;
        padding: 15px;
        padding-right: 0;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;

        & .check {
            background-color: $tag-bg-color;
            border: none;
            margin: -15px 0;
            border-radius: 0 15px 15px 0;
            width: 0;
            overflow: hidden;
            padding: initial;
            transition: width 0.25s ease-in;
        
            &__icon {
                color: $second-text-color;
                font-size: 20px;
                padding: 0 15px;
            }
        }

        &.menu__card:hover {
            & .check {
                background-color: $tag-bg-color;
                border: none;
                margin: -15px 0;
                border-radius: 0 15px 15px 0;
                width: 65px;
            }
        }

        & .menu__content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            padding-right: 15px;
        }

        & .menu__description{
            @include flex__column;
            gap: 5px
        }

        & .meal_name {
            font-weight: 500;
            text-overflow: ellipsis;
        }

        & .meal_subname {
            font-size: 15px;
            font-weight: 300;
            text-overflow: ellipsis;
        }

        & .prices {
            font-size: 15px;
            font-weight: 700;
        }
    }
}

.menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/***** Dishes *****/
.dishes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

/***** Button *****/
.menu__button {
    @include button;
}