@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/************ COLORS ************/
/************ MIXINS ************/
/************ GENERAL ************/
* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", serif;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

hr {
  border: 2px solid #99E2D0;
  width: 40px;
  margin-top: 5px;
}

/************ Header ************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}

/************ Footer ************/
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #FFFFFF;
  background-color: #353535;
  padding: 22px 25px;
}
footer img {
  width: auto;
  height: 20px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
}

.footer__link {
  display: flex;
  gap: 15px;
}
.footer__link i {
  height: 13px;
  width: 12px;
}

/************ Location ************/
.location {
  position: relative;
  z-index: 1;
}

.location form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location form .location__input {
  background-color: #EAEAEA;
  color: #353535;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
.location form .location__input::-moz-placeholder {
  color: #353535;
}
.location form .location__input::placeholder {
  color: #353535;
}

/************ Hero ************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #F6F6F6;
}
.hero__title {
  width: 275px;
  text-align: center;
}
.hero__subtitle {
  font-size: 18px;
  width: 315px;
  text-align: center;
  font-weight: 300;
  color: #353535;
}
.hero__button {
  height: 50px;
  background: linear-gradient(180.33deg, #FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.hero__button:hover {
  background: linear-gradient(180.33deg, rgba(255, 255, 255, 0.15) 0%, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/************ Tutorial ************/
.tuto {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #FFFFFF;
  padding: 50px 20px;
}

.tuto__steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
.tuto__steps .step {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  align-items: center;
  gap: 20px;
  position: relative;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-left: 40px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}
.tuto__steps .step .tuto__icon {
  color: #7E7E7E;
}
.tuto__steps .step .fa-store {
  color: #9356DC;
}
.tuto__steps .tuto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  font-weight: 500;
}

.tuto-text {
  font-weight: 500;
}

/************ Restaurants ************/
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
  background-color: #F6F6F6;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__cards .card {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  position: relative;
  flex-direction: column;
}
.restaurants__cards .label__new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 2px;
  top: 13px;
  left: 260px;
  font-size: 14px;
  font-weight: 500;
}

.restaurants__img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.restaurants__img--position {
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}

.restaurants__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurants__description .restaurants__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.restaurants__description .restaurants__like--nobg {
  padding-right: 30px;
  color: #101010;
}

/***** HEADER *****/
.header__arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 17px;
  top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***** MAIN *****/
.main__img img {
  height: 275px;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 40px 20px;
  position: relative;
  top: -63px;
  margin-bottom: -63px;
}
.menu__title {
  font-family: "Shrikhand", serif;
}
.menu .menu__card {
  display: flex;
  border-radius: 15px;
  background-color: #FFFFFF;
  padding: 15px;
  justify-content: space-between;
  align-items: end;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
}
.menu .menu__card .menu__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.menu .menu__card .meal_name {
  font-weight: 500;
}
.menu .menu__card .meal_subname {
  font-size: 15px;
  font-weight: 300;
}
.menu .menu__card .prices {
  font-size: 15px;
  font-weight: 700;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__header i {
  padding-right: 30px;
}

.dishes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.menu__button {
  height: 50px;
  background: linear-gradient(180.33deg, #FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

/***** COEURS *****//*# sourceMappingURL=main.css.map */