@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
/************ COLORS ************/
/************ MIXINS ************/
/************ GENERAL ************/
* {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: "Shrikhand", serif;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

/************ Header ************/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}

/************ Location ************/
.location {
  position: relative;
  z-index: 1;
}

.location form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location form .location__input {
  background-color: #EAEAEA;
  color: #353535;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
.location form .location__input::-moz-placeholder {
  color: #353535;
}
.location form .location__input::placeholder {
  color: #353535;
}

/************ Hero ************/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #F6F6F6;
}
.hero__title {
  width: 275px;
  text-align: center;
}
.hero__subtitle {
  font-size: 18px;
  width: 315px;
  text-align: center;
  font-weight: 300;
  color: #353535;
}
.hero__button {
  height: 50px;
  background: linear-gradient(180.33deg, #FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border: none;
  padding: 0 20px;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.hero__button:hover {
  background: linear-gradient(180.33deg, rgba(255, 255, 255, 0.15) 0%, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

/************ Tutorial ************/
.tuto {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #FFFFFF;
  padding: 50px 20px;
}

.tuto__steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
.tuto__steps .step {
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  align-items: center;
  gap: 20px;
  position: relative;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-left: 40px;
}
.tuto__steps .step .tuto__icon {
  color: #7E7E7E;
}
.tuto__steps .step .fa-store {
  color: #9356DC;
}
.tuto__steps .tuto__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  font-weight: 500;
}

.tuto-text {
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */